<div ng-controller="LotsController as ctrl">
    <div class="title-bar">
        <div class="row">
            <div class="col-sm-12">
                <h1>Elenco distinte</h1>
                <a href ng-click="ctrl.goToCreateLotDetail()" class="btn btn-primary pull-right">
                    <i class="fa fa-plus"></i>
                    <span>Nuova distinta</span>
                </a>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Codice</th>
                    <th scope="col">Essenza</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Situazione</th>
                    <th scope="col">Stagionatura</th>
                    <th scope="col">Lavorazione</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Lunghezza m</th>
                    <th scope="col">Spessore m</th>
                    <th scope="col">mq</th>
                    <th scope="col">Data inserimento</th>
                    <th scope="col">Totale</th>
                    <th scope="col">Pezzi</th>
                    <th scope="col">Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lot in ctrl.lots">
                    <td>{{lot.code}}</td>
                    <td>{{lot.type}}</td>
                    <td>{{lot.class}}</td>
                    <td>{{lot.status}}</td>
                    <td>{{lot.aging}}</td>
                    <td>{{lot.processing}}</td>
                    <td>{{lot.customer}}</td>
                    <td>{{lot.length}}</td>
                    <td>{{lot.thickness}}</td>
                    <td>{{lot.volume}}</td>
                    <td>{{lot.i_date | date:"dd/MM/yyyy"}}</td>
                    <td>{{lot.total}}</td>
                    <td>{{lot.pieces}}</td>
                    <td>
                        <div class="row">
                            <a href ng-click="ctrl.goToLotDetail(lot.id)">
                                <i class="fa fa-edit fa-2x"></i>
                            </a>
                            <a href ng-click="ctrl.deleteLot(lot.id)">
                                <i class="fa fa-trash-o fa-2x"></i>
                            </a>
                            <a href>
                                <i class="fa fa-calculator fa-2x"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>